# This is an example of a .env file for the ATS application.# Copy this file to .env and fill in the necessary values.
# Make sure to keep this file secure and not share it publicly.

# The production database URL.
# Replace 'user', 'password', and 'postgres-host' with your actual database credentials and host.
DATABASE_URL="postgresql://user:password@postgres-host:5432/ats"

# This database is only used for running unit-tests. It should be a separate database from the main one.
# Ensure that the user has the necessary permissions to create and drop tables in this database.
TEST_DATABASE_URL="postgresql://user:password@postgres-host:5432/ats_test"


DEBUG=True

